@use "../mixins" as *;
@use "../variables" as *;

.banner {
  &__section {
    position: relative;
    min-height: 45vh;
    width: 100%;
    background: url(../assets/banner/banner.jpg) center/cover no-repeat;
    overflow: hidden;

    // dark overlay
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.65); // adjust 0.5 → lighter, 0.8 → darker
      z-index: 1;
    }
  }

  &__container {
    position: relative;
    z-index: 2; // keeps content above overlay
    width: 90vw;

    height: 45vh;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    align-items: end;
    justify-content: left;

    @include responsive(lg) {
      max-width: 1366px;
      width: 83.46vw;
    }
  }

  &__text {
    line-height: 0.9;
    @include text-bold;

      font-size: 1.5rem;

      @include responsive(md) {
        font-size: 2.25rem;
      }

      @include responsive(lg) {
        font-size: 3rem;
      }
    color: white;
    text-align: left;
  }
}
