@use "mixins" as *;
@use "variables" as *;

.image-section {
  margin: auto;
  padding: 3.5rem 0 0;

  width: 90vw;

  @include responsive(lg) {
    width: 83.46vw;
    max-width: 1366px;
  }

  .banner-image {
    width: 100%;
    height: 512px;
    object-fit: cover;
    border-radius: 2.5rem;
    
  }
}

.form-image-section {
  .form-image {
    width: 100%;
    height: 555px;
    object-fit: cover;
    object-position: top;

    @include responsive(md) {
      height: 955px;
    }
  }
}
