@use "../../mixins" as *;
@use "../../variables" as *;

.privacy-policy {
  padding: $spacing-xl 0;
  width: 90vw;
  margin: 0 auto;
  color: $color-secondary;
  font-family: $font-sans;
  transition: $transition;

  @include responsive(xl) {
    width: 80.77vw;
    max-width: 1413px;
  }

  &__header {
    margin-bottom: $spacing-sm;
    .privacy-policy__intro {
      color: $text-light;
      font-size: 1.05rem;
      line-height: 1.6;

      @include responsive(md) {
        font-size: 1.15rem;
      }
    }
  }

  &__content {
    font-size: 1rem;
    line-height: 1.5;
    color: $color-secondary;

    p {
      margin-bottom: $spacing-md;
    }

    a {
      color: $color-primary;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: darken($color-primary, 10%);
        text-decoration: underline;
      }
    }
  }

  &__subtitle {
    font-family: $font-bebas;
    font-weight: 600;
    font-size: 1.4rem;
    margin: $spacing-md 0 $spacing-sm 0;
    color: $color-primary;

    @include responsive(md) {
      font-size: 1.6rem;
    }
  }

  &__small-title {
    font-family: $font-bebas;
    font-weight: 600;
    font-size: 1.2rem;
    margin: $spacing-md 0 $spacing-xs 0;
    color: $color-secondary;
  }

  &__list {
    margin-left: 1.5rem;
    margin-bottom: $spacing-md;
    list-style-type: disc;
    color: $color-secondary;
    line-height: 1.6;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
