@use "../mixins" as *;
@use "../variables" as *;

.about-page {
  color: $color-secondary;
  line-height: 1.5;

  // Headings
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  p,
  li {
    // color: $color-text-subtle;

    font-size: $spacing-xm;

    @include responsive(md) {
      font-size: $spacing-sm;
    }
  }

  // Hero Section
  .info {
    text-align: center;
    padding: 4rem 2rem;
    background: linear-gradient(to bottom, transparent 0%, #fff 100%, #fff 100%),
      url("../assets/bg-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;
    position: relative;

    min-height: 450px;

    h1 {
      color: $bg-light;
      letter-spacing: 0.8px;
      @include text-semibold;

      font-size: 1.5rem;

      @include responsive(md) {
        font-size: 2.25rem;
      }

      @include responsive(lg) {
        font-size: 3rem;
      }
    }

    p {
      max-width: 800px;
      margin: 1rem auto 2rem;
      color: $white;
      font-size: clamp(1rem, 2vw, 1.2rem);
    }

    .btn {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.9rem 2rem;
      font-size: $spacing-sm;
      @include text-bold;
      border-radius: 9999px;

      transition: $transition-slow;
      color: $color-primary;
      text-transform: capitalize;

      background: $white;

      &:hover {
        transform: scale(1.02);
        box-shadow: $shadow-xl;
        background: rgba($white, 0.9);

        .arrow {
          animation: arrow-btn 0.6s ease-in-out infinite;
        }
      }

      .arrow {
        width: 16px;
        height: 16px;
        @include grid-center;
        object-fit: contain;
        filter: brightness(0) saturate(100%) invert(60%) sepia(27%)
          saturate(1598%) hue-rotate(326deg) brightness(103%) contrast(102%);
      }
    }
  }

  // Container Utility
  &__container {
    width: 90vw;
    margin: 0 auto;

    @include responsive(lg) {
      max-width: 1366px;
      width: 83.46vw;
    }

    margin-bottom: 4rem;
  }

  // About Section
  .about {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      align-items: center;

      @include responsive(xl) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__title {
      text-transform: capitalize;
      font-size: $spacing-xm;
      @include responsive(md) {
        font-size: $spacing-sm;
      }
      @include text-bold;
      color: $color-primary;
    }

    &__subtitle {
      @include text-bold;

      @include responsive(lg) {
        font-size: $spacing-md;
      }

      @include responsive(2xl) {
        font-size: $spacing-lg;
      }
      font-size: 1.2rem;
      text-transform: capitalize;
      line-height: 1.2;
      font-family: "Poppins", sans-serif;
      margin-bottom: 1rem;
    }

    &__image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 100%;
      @include responsive(lg) {
        min-height: 550px;
      }

      height: 100%;
      object-fit: cover;
      object-position: right;
      border-radius: 1rem;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    &__key_offer {
      margin: 1rem 0;
      font-size: $spacing-xm;

      @include responsive(md) {
        font-size: $spacing-sm;
      }
    }

    &__offerings {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.75rem;
      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }
      li {
        color: $color-text-subtle;

        font-size: $spacing-xm;
        @include responsive(md) {
          font-size: 0.9rem;
        }
      }

      .offer-item {
        display: flex;
        align-items: center;
        gap: 0.85rem;
        margin-bottom: 1rem;
      }

      .offer-icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }

  // MVV Cards
  .mvv {
    margin-top: 4rem;

    h2 {
      letter-spacing: 0.8px;
      @include text-semibold;

      font-size: 1.5rem;

      @include responsive(md) {
        font-size: 2.25rem;
      }

      @include responsive(lg) {
        font-size: 3rem;
      }
    }
    &__grid {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 1fr;

      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__content {
      display: flex;
      align-items: start;
      gap: 1rem;
    }

    &__text {
      h3 {
        color: $color-primary;
        margin-bottom: $spacing-sm;
        letter-spacing: 0.5px;
        @include responsive(md) {
          font-size: 1.5rem;
        }

        font-size: 1.3rem;
      }

      p {
        color: $color-text-base;
        line-height: 1.5;
        margin-bottom: $spacing-sm;
        @include responsive(md) {
          font-size: 0.95rem;
        }

        font-size: 0.9rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    &__card {
      background: $white;
      padding: $spacing-sm;
      border-radius: $border-radius;
      box-shadow: $shadow-light;
      border: 1px solid transparent;
      transition: $transition-slow;

      &:hover {
        transform: translateY(-6px) scale(1.02);
        box-shadow: $shadow-xl;
        background: linear-gradient($bg-gray-light, $bg-gray-light) padding-box,
          conic-gradient(
              from #ffd60a,
              #fff 0deg,
              $color-primary 72deg,
              #fff 144deg,
              #ffd60a 216deg,
              $color-primary 288deg,
              #fff 360deg
            )
            border-box;
        animation: border-rotate 4s linear infinite;
      }
    }
  }

  // Stats Section
  .stats {
    margin: 4rem 0 0;

    h2 {
      letter-spacing: 0.8px;
      @include text-semibold;

      font-size: 1.5rem;

      @include responsive(md) {
        font-size: 2.25rem;
      }

      @include responsive(lg) {
        font-size: 3rem;
      }
    }

    &__grid {
      display: grid;
      padding: 4rem;
      gap: 2rem;
      grid-template-columns: 1fr;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../assets/banner/banner2.jpg") left/cover no-repeat;
        filter: blur(2px);
        z-index: -1;
        border-radius: $border-radius;
      }

      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include responsive(lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .stat {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 1rem;

      &:first-child {
        border: none;
      }

      @include responsive(md) {
        &:nth-child(2) {
          border: none;
        }
      }

      @include responsive(lg) {
        border-top: none;
        &:nth-child(2) {
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
        border-left: 1px solid rgba(255, 255, 255, 0.3);
      }

      &__value {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        @include responsive(md) {
          font-size: 2.5rem;
        }
        font-size: 1.8rem;

        line-height: 1.1;
        color: #fff;
      }

      &__label {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 0.95rem;
        color: $bg-light;
      }

      &__icon {
        width: 60px;
        height: 60px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
          hue-rotate(268deg) brightness(104%) contrast(103%);
      }
    }
  }
}

// CTA Section
.cta {
  position: relative;
  border-radius: $border-radius;
  margin-top: 4rem;
  padding: 2rem 0;
  z-index: 1;
  @include grid-center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/banner/banner.jpg") left/cover no-repeat;
    filter: blur(2px);
    z-index: -1;
  }

  background: linear-gradient(
    45deg,
    rgba(0, 29, 61, 0.5),
    rgba(0, 125, 255, 0.5)
  );

  &__content {
    color: $white;
    text-align: center;
    padding: 2rem;
    border-radius: $border-radius;
    background: transparent;

    @include responsive(md) {
      max-width: 600px;

      background: rgba($color-secondary, 0.3);
    }

    .cta__title {
      font-size: clamp(2rem, 4vw, 2.5rem);
      font-weight: 800;
      line-height: 1.1;
      margin-bottom: 1.5rem;
      color: $white;
    }

    .cta__subtitle {
      font-size: clamp(1rem, 2vw, 1.25rem);
      color: $bg-gray-light;
    }
  }

  // Buttons
  .btn {
    display: inline-block;
    margin-top: $spacing-sm;
    padding: 0.9rem 2rem;
    font-size: $spacing-sm;
    @include text-bold;
    border-radius: 9999px;

    transition: $transition-slow;
    color: $white;
    text-transform: capitalize;

    background: $color-primary;

    &:hover {
      transform: scale(1.02);
      box-shadow: $shadow-xl;
      background: rgba($color-primary, 0.7);
    }
  }
}

/* Animations */
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

@keyframes arrow-btn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
